footer {
    color: #fff;
    padding: 3px;
    margin-top: 40px;
    color: gray;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .endicons{
    padding-right:  36px;
  }